
.div-main{ background-color: #f06768;}

.bangd-box{ position: relative; }

.top-nav-list .slider_wrap li{width:33.3%; }


.start-btn{ position: absolute; bottom: 4vw; left: 8vw; width: 36.3vw; height: 7.6vw; background: url(../../img/hby/mobile/btn.png); background-size: 200% 100% ; cursor: pointer; -webkit-animation:shan 1s  steps(2)  infinite; -moz-animation:shan 1s  steps(2)  infinite; -ms-animation:shan 1s  steps(2)  infinite; animation:shan 1s  steps(2)  infinite;}



.hand{ position: absolute; bottom: -3vw; left: 35vw; width: 8.7vw; height: 10.8vw;  cursor: pointer;  -webkit-animation:1s updown linear infinite;  -moz-animation:1s updown linear infinite;  -o-animation:1s updown linear infinite; animation:1s updown linear infinite; z-index: 10;}

.bangd{ position: absolute; right: 4vw; top: 10vw; width: 42vw; height: 35vw; overflow: hidden; }

.bangd ul{width:100%;  height: 100%;}
.bangd ul li{padding:9px 4% 0; height: 20px; border-bottom: 1px solid #333; text-align: center;  overflow: hidden; white-space:nowrap;  text-overflow:ellipsis; font-size:12px;}


@-webkit-keyframes shan{ 	from{ background-position-x: 0;} 	to{ background-position-x: -72.6vw;} }
@-moz-keyframes shan{ 	from{ background-position-x: 0;} 	to{ background-position-x: -72.6vw;} }
@-ms-keyframes shan{ 	from{ background-position-x: 0;} 	to{ background-position-x: -72.6vw;} }
@keyframes shan{ 	from{ background-position-x: 0;} 	to{ background-position-x: -72.6vw;} }

@-webkit-keyframes updown{
	0%{-webkit-transform:translateY(0);}
	25%{-webkit-transform:translateY(-5px);}
	50%{-webkit-transform:translateY(0);}
	75%{-webkit-transform:translateY(5px);}
	100%{-webkit-transform:translateY(0);}
}
@-moz-keyframes updown{
	0%{-moz-transform:translateY(0);}
	25%{-moz-transform:translateY(-5px);}
	50%{-moz-transform:translateY(0);}
	75%{-moz-transform:translateY(5px);}
	100%{-moz-transform:translateY(0);}
}
@-o-keyframes updown{
	0%{-o-transform:translateY(0);}
	25%{-o-transform:translateY(-5px);}
	50%{-o-transform:translateY(0);}
	75%{-o-transform:translateY(5px);}
	100%{-o-transform:translateY(0);}
}
@keyframes updown{
	0%{transform:translateY(0);}
	25%{transform:translateY(-5px);}
	50%{transform:translateY(0);}
	75%{transform:translateY(5px);}
	100%{transform:translateY(0);}
}


.guize-box{ position: relative;}
.guize-box p{ position: absolute; top: 12vw; left: 5vw; width: 90vw; font-size: 3vw; color:#333; }




/*游戏区样式*/


			.pages{ width: 100%; height: 100%; background:  url(../../img/hby/mobile/back.jpg) bottom center; background-size: cover;  position: fixed; top:0; left: 0; z-index: 1500;} 
			.page{ width: 100%; height: 100%;  position: absolute; top:0; left: 0; z-index: 1520;} 
			.liuxing{ width: 100%; height: 100%; background:  url(../../img/hby/mobile/liuxing.png); background-size: cover;  position: absolute; top:0; left: 0; z-index: 1510; -webkit-animation: liuxing 5s infinite; -moz-animation: liuxing 5s infinite; -ms-animation: liuxing 5s infinite; animation: liuxing 5s infinite;}
			
			@-webkit-keyframes liuxing{ from{ top:0; left: 0;} to{ top:60vw; left: 80vw;} }
			@-moz-keyframes liuxing{ from{ top:0; left: 0;} to{ top:60vw; left: 80vw;} }
			@-ms-keyframes liuxing{ from{ top:0; left: 0;} 	to{ top:60vw; left: 80vw;} }
			@keyframes liuxing{ from{ top:0; left: 0;} 	to{ top:60vw; left: 80vw;} }
			
			.box{display: none;  width: 21.9vw; height: 21.9vw; background: url(../../img/hby/mobile/bag-1.png) no-repeat center; background-size: cover;  position: absolute; }
			
			.box.jump{  -webkit-animation: jump 1s linear; -moz-animation: jump 1s linear; -ms-animation: jump 1s linear; animation: jump 1s linear;}
			
			
			@-webkit-keyframes jump{ 				
				0%{ transform: translateX(-10px);} 				
				33%{  transform: translateX(20px);} 				
				66%{  transform: translateX(-20px);} 				
				100%{ transform: translateX(10px);} 			
				}
				
			@-moz-keyframes jump{ 				
				0%{ transform: translateX(-10px);} 				
				33%{  transform: translateX(20px);} 				
				66%{  transform: translateX(-20px);} 				
				100%{ transform: translateX(10px);} 			
				}
			@-ms-keyframes jump{ 				
				0%{ transform: translateX(-10px);} 				
				33%{  transform: translateX(20px);} 				
				66%{  transform: translateX(-20px);} 				
				100%{ transform: translateX(10px);} 			
				}
			@keyframes jump{ 				
				0%{ transform: translateX(-10px);} 				
				33%{  transform: translateX(20px);} 				
				66%{  transform: translateX(-20px);} 				
				100%{ transform: translateX(10px);} 			
				}
			
			
			
			.box.zhongjiang{background-image: url(../../img/hby/mobile/bag-2.png);}
			.box.meizhongjiang{background-image: url(../../img/hby/mobile/bag-3.png);}
			.box-0{ top: 10%; left: 10vw;}
			.box-1{ top: 30%; left: 10vw;}
			.box-2{ top: 50%; left: 10vw;}
			.box-3{ top: 70%; left: 10vw;}
			.box-4{ top: 5%; left: 40vw;}
			.box-5{ top: 25%; left: 40vw;}
			.box-6{ top: 45%; left: 40vw;}
			.box-7{ top: 65%; left: 40vw;}
			.box-8{ top: 12%; left: 70vw;}
			.box-9{ top: 32%; left: 70vw;}
			.box-10{ top: 52%; left: 70vw;}
			.box-11{ top: 72%; left: 70vw;}
			
			.daojishi-1{ position: absolute; width: 50px; height: 50px; font-size: 50px; color: #66ccff; top: 50%; left: 50%;}
			.daojishi-2{  position: absolute; top: 10px; right: 20px; width: 30px; height: 30px; border-radius: 50%; border: 1px solid #000; background-color: #ffeeee; display: flex; align-items: center; justify-content: center; }
			

.pop{ position: fixed; z-index: 1530; width: 100%; height: 100%; top: 0; left: 0; display: flex; align-items: center; justify-content: center;}
.pop2{  position: fixed; z-index: 1535; width: 100%; height: 100%; top: 0; left: 0; background: transparent; }
.pop-box{ width: 85vw; height: 78vw;  position: relative; background-size: 100% 100%;}
.pop-box a{ width: 31vw; height: 8.8vw; display: flex; align-items: center; justify-content: center; background-color: #ff4339; color: #fed44a; border-radius: 1vw; position: absolute; bottom: 10vw; font-size: 5vw; cursor: pointer;}
.pop-box a:hover{ color: #fed44a;}
.pop-box.prize-1{ background: url(../../img/hby/mobile/prize-1.png); background-size: cover;}
.pop-box.prize-2{ background: url(../../img/hby/mobile/prize-2.png); background-size: cover;}
.pop-box.prize-3{ background: url(../../img/hby/mobile/prize-3.png); background-size: cover;}
.pop-box.prize-4{ background: url(../../img/hby/mobile/prize-4.png); background-size: cover;}
.pop-box.game-over{ background: url(../../img/hby/mobile/gameover.png); background-size: cover;}

.pop-box .go-on{  left: 10vw; }
.pop-box .to-share{  right: 10vw; }



